<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Paging Page</title>
    <style>
      table { border-collapse: collapse; width: 100%; }
      th, td { border: solid 1px #000; }
      ul li {list-style-type: none; float: left;}
    </style>
</head>
<body>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>생성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="postList : ${postList}">
            <td th:text="${postList.id}"></td>
            <td th:text="${postList.title}"></td>
            <td th:text="${postList.createTime}"></td>
        </tr>
        </tbody>
    </table>
</div> <!--container-->

<nav style="text-aling: center;">
    <p th:text="${pagingConfigure}"></p>
    <ul>
        <li><a href="/postList?page=1">1&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="/postList?page=2">2&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="/postList?page=3">3&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="/postList?page=4">4&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="/postList?page=5">5&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="/postList?page=6">6&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="/postList?page=7">7&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="/postList?page=8">8&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="/postList?page=9">9&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="/postList?page=10">10&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="/postList?page=11">11&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="/postList?page=12">12&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="/postList?page=13">13&nbsp;&nbsp;&nbsp;</a></li>
    </ul>
</nav>

</body>
</html>