<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Paging Page</title>
    <style>
      table { border-collapse: collapse; width: 100%; }
      th, td { border: solid 1px #000; }
      ul li {list-style-type: none; float: left;}
    </style>
</head>
<body>
<div class="container">
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>생성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="postList : ${postList}" style="text-align: center;">
            <td th:text="${postList.id}"></td>
            <td th:text="${postList.title}"></td>
            <td th:text="${postList.createTime}"></td>
        </tr>
        </tbody>
    </table>
</div> <!--container-->

<nav style="text-align: center;">
    <p th:text="${pagingConfigure}"></p>
    <ul>
        <li><a href="/postList?page=1">1&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="/postList?page=2">2&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="/postList?page=3">3&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="/postList?page=4">4&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="/postList?page=5">5&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="/postList?page=6">6&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="/postList?page=7">7&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="/postList?page=8">8&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="/postList?page=9">9&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="/postList?page=10">10&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="/postList?page=11">11&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="/postList?page=12">12&nbsp;&nbsp;&nbsp;</a></li>
        <li><a href="/postList?page=13">13&nbsp;&nbsp;&nbsp;</a></li>
    </ul>
</nav>
<br/>
<nav style="text-align: center;">
    <!--표에 사용될 변수값 초기화 -->
    <ul class="pagination"
        th:with="start = 1,
                 last=(${start + 9 < pageble.pageNum ? start + 9 : pageble.pageNum})">
        <th:block th:with="firstAddr=@{/postList(page=1)}, lastAddr=@{/postList(page=${pageble.pageNum})}">
            <li>
                <a th:href="${firstAddr}" aria-label="First">
                    <span aria-hidden="true">First&nbsp;&nbsp;&nbsp;</span>
                </a>
            </li>
            <!-- 이전 페이지로 가기 버튼 -->
            <!--<li th:class="${list.first} ? 'disabled'">
                <a th:href="${list.first} ? '#' :${prevAddr}"
                   aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>-->
            <!--1,2,3,4,.. 등 페이지-->
            <li th:each="page: ${#numbers.sequence(start, last)}"
                th:class="${page == pageble.nowPage + 1} ? 'active'">&nbsp;&nbsp;&nbsp;
                <a th:text="${page}" th:href="@{/postList(page=${page})}">&nbsp;&nbsp;&nbsp;</a>&nbsp;&nbsp;&nbsp;
            </li>
            <!--다음 페이지로 -->
            <!--<li th:class="${pageble.pageNum} ? 'disabled'">
                <a th:href="${pageble.pageNum} ? '#' : ${nextAddr}"
                   aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>-->
            <!--맨 마지막 페이지로 이동 -->
            <li>
                <a th:href="${lastAddr}" aria-label="Last">
                    <span aria-hidden="true">Last&nbsp;&nbsp;&nbsp;</span>
                </a>
            </li>
        </th:block>
    </ul>
</nav>
</body>
</html>